## Import libraries

In [1]:
import pymysql
from openpyxl import Workbook
from openpyxl import load_workbook
import numpy as np

## Connect to database using PyMySQL

In [2]:
conn = pymysql.connect(host='localhost', user='root', password='autoset', db='travel', charset='utf8')

In [3]:
cursor = conn.cursor(pymysql.cursors.DictCursor)

In [4]:
import pandas as pd

### 고객 테이블 가입 정보 입력받기

In [5]:
print('이름을 입력하세요.')
member_name = input()
print('나이대를 입력하세요.')
member_age = input()
print('ID를 입력하세요.')
member_ID = input()
print('비밀번호를 입력하세요.')
member_PW = input()

이름을 입력하세요.
김혜린
나이대를 입력하세요.
20
ID를 입력하세요.
heahea
비밀번호를 입력하세요.
0127

### 고객 가입 정보 DB에 추가

In [6]:
sql = "insert into 고객(고객이름,나이대,회원ID,회원PW) values(%s, %s, %s, %s)"
cursor.execute(sql, (member_name, member_age, member_ID, member_PW))
conn.commit()

df_member = pd.read_sql("select * from 고객", conn)
df_member

   고객번호 고객이름  나이대    회원ID    회원PW
0    14  김혜린   20  hea990    0127
1    15  ㅇㅇㅇ   20    asdf    asdf
2    16  문혜원   20  moon98  hyewon
3    17  김혜린   20  hea990    0127
4    18  김혜린   20  heahea    0127
5    19  김혜린   20  heahea    0127
6    20  김혜린   20  heahea    0127

### 여행지 추천을 위한 고객 취향 정보 입력받기

In [7]:
print('ID를 입력하세요.')
prefer_ID = input()
print('여행 가고 싶은 달을 입력하세요.')
prefer_month = input()
print('가고 싶은 관광지 유형을 입력하세요.')
prefer_tour = input()
print('먹고 싶은 음식을 입력하세요.')
prefer_food = input()
print('선호하는 축제 유형을 입력하세요.')
prefer_festival = input()

ID를 입력하세요.
heahea
여행 가고 싶은 달을 입력하세요.
7
가고 싶은 관광지 유형을 입력하세요.
고택
먹고 싶은 음식을 입력하세요.
짬뽕
선호하는 축제 유형을 입력하세요.
먹거리

### 점수 기록 dataframe

In [8]:
df_score = pd.read_sql("select * from 지역",conn)
df_score['관광지개수'] = 0
df_score['축제개수'] = 0
df_score['음식점개수'] = 0
df_score['총점'] = 0

## 관광지 데이터 전처리

In [9]:
df_spot = pd.read_sql("select * from 관광지", conn)
df_spot

,관광지번호,관광지명,전화번호,소분류,지역코드,주소
0,L0001,가평 아홉마지기마을,031-582-3115,농.산.어촌 체험,I28,경기 가평군 가평읍 용추로 238
1,L0002,가평 이화원 나비스토리,031-581-0228,테마공원,I28,경기도 가평군 가평읍 자라섬로 64
2,L0003,가평 현충탑,031-5802-0667,기념탑/전망대,I28,경기도 가평군 가평읍 호반로 2540 가평읍 부근
3,L0004,가평군목공예영농조합,031-581-0550,전시관,I28,경기도 가평군 가평읍 경춘로 2045-65 가평읍
4,L0005,가평의병3.1항일운동기념비,031-580-2066,기념탑/전망대,I28,경기 가평군 가평읍 대곡리 467번지
...,...,...,...,...,...,...
8042,L8049,운암정,033-340-2224,유적지,J09,강원도 횡성군 횡성읍 한우로 191 횡성읍
8043,L8050,종가집 횡성공장,NULL,식음료,J09,강원도 횡성군 횡성읍 청용길 15
8044,L8051,횡성 밤두둑마을,033-344-7675,농.산.어촌 체험,J09,강원도 횡성군 횡성읍 반곡3길 6 횡성읍
8045,L8052,횡성향교,033-340-2224,유적지,J09,강원도 횡성군 횡성읍 향교로 12 횡성읍
8046,L8053,하나코스,033-345-6145,기타,J09,강원도 횡성군 둔내면 덕송로 160

In [10]:
onehot_spot = pd.get_dummies(df_spot.loc[:,['관광지번호', '지역코드', '소분류']],columns= ['소분류']) 
onehot_spot

,관광지번호,지역코드,소분류_강,소분류_계곡,소분류_고궁,소분류_고택,소분류_공단,소분류_공연장,소분류_공원,소분류_관광농원,...,소분류_터널,소분류_테마공원,소분류_폭포,소분류_항구/포구,소분류_해수욕장,소분류_해안절경,소분류_헬스투어,소분류_호수,소분류_화학-금속,소분류_희귀동.식물
0,L0001,I28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,L0002,I28,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,L0003,I28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,L0004,I28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,L0005,I28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8042,L8049,J09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8043,L8050,J09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8044,L8051,J09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8045,L8052,J09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8046,L8053,J09,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 관광지 취향에 맞춰 점수 내기

In [11]:
category1 = 'null'
for c_name in list(onehot_spot):
    if prefer_tour in c_name:
        category1 = c_name

In [12]:
plus = 0
for loc_num in range(len(df_score['지역코드'])):    # 지역코드 개수로 돌림
    for spot_num in range(len(onehot_spot)):        # 관광지 데이터 개수로 돌림
        if df_score['지역코드'][loc_num] == onehot_spot['지역코드'][spot_num]:    # 결과df랑 관광지 지역이랑 같은 지역이면
            plus += onehot_spot[category1][spot_num]
    df_score['관광지개수'][loc_num] = plus
    plus = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 축제 테이블 전처리

In [13]:
df_festival = pd.read_sql("select * from 축제",conn)

In [14]:
onehot_festival = pd.get_dummies(df_festival.loc[:,['축제번호','지역코드','축제기간','소분류']],columns = ['소분류'])

### 축제 취향에 맞춰 점수 내기

In [15]:
category2 = 'null'

for c_name in list(onehot_festival):
    if prefer_festival in c_name:
        category2 = c_name

In [16]:
plus = 0
for loc_num in range(len(df_score['지역코드'])): # 지역코드갯수로 돌림
    for fest_num in range(len(onehot_festival)): # 축제데이터 갯수로 돌림
        if df_score['지역코드'][loc_num] == onehot_festival['지역코드'][fest_num]: # 결과df랑 축제 지역이랑 같은 지역이면
            if prefer_month == onehot_festival['축제기간'][fest_num]: # 여행예정달이랑 축제 기간이 같으면
                plus += onehot_festival[category2][fest_num]
    df_score['축제개수'][loc_num] = plus
    plus = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [17]:
pd.set_option('display.max_rows', 200)

## 숙소 테이블 전처리

In [18]:
df_sleep = pd.read_sql("select * from 숙소", conn)

In [19]:
onehot_sleep = pd.get_dummies(df_sleep.loc[:,['숙소번호','업종명']],columns= ['업종명'])

## 음식점 데이터 전처리

In [20]:
df_food = pd.read_sql("select * from 음식점",conn)

### 음식 취향에 맞춰 점수 내기

In [21]:
columns = 0

for fdc in df_food['설명']: # df_food 설명에 있는걸 한개씩 가져옴
    if prefer_food in fdc:
        for loc_code in range(len(df_score['지역코드'])): # 지역코드 갯수 만큼 for문 돌려라
            if df_score['지역코드'][loc_code] == df_food['지역코드'][columns]: 
                # df_score의 지역코드와 df_food의 지역코드가 같으면 음식점 갯수에 1 더하기
                df_score['음식점개수'][loc_code]+=1
        #print(df_food['음식점번호'][columns])
    columns+=1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
df_score

    지역코드        지역명         위도          경도  관광지개수  축제개수  음식점개수  총점
0    A01      서울특별시  37.563569  126.980008      9     0     11   0
1    B01      부산광역시  35.177019  129.076953      0     0      3   0
2    C01      대구광역시  35.868542  128.603553      5     2      1   0
3    D01      인천광역시  37.453233  126.707353      3     0      4   0
4    E01      광주광역시  35.156975  126.853364      5     1      2   0
5    F01      대전광역시  36.347119  127.386567      0     0      4   0
6    G01      울산광역시  35.535408  129.313689      0     0      1   0
7    H01    세종특별자치시  36.480012  127.289069      0     0      0   0
8    I01    경기도 수원시  37.267556  127.023389      0     0      1   0
9    I02    경기도 고양시  37.672486  126.752778      0     0      1   0
10   I03    경기도 용인시  37.319386  127.100097      0     0      1   0
11   I04    경기도 성남시  37.379969  127.121019      1     0      0   0
12   I05    경기도 부천시  37.503592  126.766000      0     0      1   0
13   I06    경기도 화성시  37.196817  126.833531      2     0      0   0
14   I07    경기도 안산시  37.298519  126.846819      0     0      1   0
15   I08   경기도 남양주시  37.633178  127.218633      0     0      0   0
16   I09    경기도 평택시  36.989439  127.114656      0     0      1   0
17   I10    경기도 시흥시  37.377319  126.805078      0     0      0   0
18   I11    경기도 파주시  37.757083  126.781953      0     0      1   0
19   I12   경기도 의정부시  37.735289  127.035842      0     0      0   0
20   I13    경기도 김포시  37.612458  126.717778      0     0      0   0
21   I14    경기도 광주시  37.414506  127.257786      0     0      0   0
22   I15    경기도 광명시  37.475750  126.866708      0     0      0   0
23   I16    경기도 군포시  37.358658  126.937500      0     0      0   0
24   I17    경기도 하남시  37.536497  127.217000      0     0      0   0
25   I18    경기도 오산시  37.146914  127.079642      0     0      0   0
26   I19    경기도 양주시  37.782450  127.047819      0     0      0   0
27   I20    경기도 이천시  37.275436  127.443219      0     0      0   0
28   I21    경기도 구리시  37.591625  127.131864      0     0      0   0
29   I22    경기도 안성시  37.005175  127.281844      2     0      0   0
30   I23    경기도 포천시  37.892156  127.202419      0     0      0   0
31   I24    경기도 의왕시  37.341950  126.970389      0     0      0   0
32   I25    경기도 양평군  37.488936  127.489886      0     0      1   0
33   I26    경기도 여주시  37.295358  127.639622      0     0      0   0
34   I27   경기도 동두천시  37.900917  127.062653      0     0      0   0
35   I28    경기도 가평군  37.828831  127.511778      0     0      0   0
36   I29    경기도 과천시  37.426372  126.989800      0     0      0   0
37   I30    경기도 안양시  37.383778  126.934500      0     0      2   0
38   I31    경기도 연천군  38.093364  127.077067      0     0      0   0
39   J01    강원도 춘천시  37.880075  127.726575      2     0      0   0
40   J02    강원도 원주시  37.339083  127.922056      0     0      0   0
41   J03    강원도 강릉시  37.749136  128.878497      3     0      1   0
42   J04    강원도 동해시  37.521931  129.116633      0     0      0   0
43   J05    강원도 태백시  37.161228  128.987997      0     0      0   0
44   J06    강원도 속초시  38.204275  128.594167      0     0      0   0
45   J07    강원도 삼척시  37.447086  129.167489      0     0      0   0
46   J08    강원도 홍천군  37.694422  127.890842      0     0      0   0
47   J09    강원도 횡성군  37.488958  127.987222      0     0      0   0
48   J10    강원도 영월군  37.180861  128.464019      0     0      0   0
49   J11    강원도 평창군  37.367917  128.392353      0     0      0   0
50   J12    강원도 정선군  37.377808  128.663086      0     0      0   0
51   J13    강원도 철원군  38.144056  127.315733      0     0      0   0
52   J14    강원도 화천군  38.103408  127.710356      0     0      0   0
53   J15    강원도 양구군  38.107292  127.992244      0     0      0   0
54   J16    강원도 인제군  38.066972  128.172697      0     0      0   0
55   J17    강원도 고성군  38.377961  128.470164      0     0      0   0
56   J18    강원도 양양군  38.072833  128.621356      0     0      0   0
57   K01  충청북도 청주시   36.583997  127.511731      1     0      0   0
58   K02   충청북도 충주시  36.988181  127.928144      1     0      0   0
59   K03   충청북도 제천시  37.129769  128.193153      8     0      0   0
60   K04   충청북도 보은군  36.486533  127.731608      1     0      0   0
61   K05   충청북도 옥천군  36.303550  127.573633      0     3      0   0
62   K06   충청북도 영동군  36.172058  127.785611      4     0      0   0
63   K07   충청북도 증평군  36.782181  127.583289      0     0      0   0
64   K08   충청북도 진천군  36.852539  127.437644      2     0      0   0
65   K09   충청북도 괴산군  36.812431  127.788831      5     0      0   0
66   K10   충청북도 음성군  36.937406  127.692622      2     0      0   0
67   K11   충청북도 단양군  36.981781  128.367842      1     1      0   0
68   L01   충청남도 천안시  36.804125  127.152467      0     0      1   0
69   L02   충청남도 공주시  36.443614  127.121119      0     0      0   0
70   L03   충청남도 보령시  36.330575  126.614886      1     0      0   0
71   L04   충청남도 아산시  36.787106  127.004642      3     0      1   0
72   L05   충청남도 서산시  36.782097  126.452164      1     2      0   0
73   L06   충청남도 논산시  36.184203  127.100911      1     0      0   0
74   L07   충청남도 계룡시  36.271836  127.250931      1     0      0   0
75   L08   충청남도 당진시  36.890750  126.630253      1     0      0   0
76   L09   충청남도 금산군  36.105869  127.490308      0     0      0   0
77   L10   충청남도 부여군  36.272822  126.911864      0     0      0   0
78   L11   충청남도 서천군  36.077406  126.693889      1     0      0   0
79   L12   충청남도 청양군  36.456269  126.804256      0     0      0   0
80   L13   충청남도 홍성군  36.598361  126.662908      0     0      0   0
81   L14   충청남도 예산군  36.679806  126.850875      4     0      1   0
82   L15   충청남도 태안군  36.742667  126.299975      0     0      0   0
83   M01   전라북도 전주시  35.809189  127.121919      2     0      1   0
84   M02   전라북도 군산시  35.964642  126.738844      0     0      2   0
85   M03   전라북도 익산시  35.945275  126.959853      3     0      0   0
86   M04   전라북도 정읍시  35.566872  126.858111      2     0      1   0
87   M05   전라북도 남원시  35.413256  127.392500      1     0      0   0
88   M06   전라북도 김제시  35.800575  126.882753      2     0      1   0
89   M07   전라북도 완주군  35.842969  127.149597      0     0      0   0
90   M08   전라북도 진안군  35.788719  127.426967      0     1      0   0
91   M09   전라북도 무주군  36.003828  127.662867      0     0      0   0
92   M10   전라북도 장수군  35.644297  127.523300      3     0      0   0
93   M11   전라북도 임실군  35.608064  127.284753      2     1      1   0
94   M12   전라북도 순창군  35.371389  127.139631      0     0      0   0
95   M13   전라북도 고창군  35.432739  126.704108      2     0      0   0
96   M14   전라북도 부안군  35.728533  126.735678      2     0      1   0
97   N01   전라남도 목포시  34.808789  126.394419      1     0      0   0
98   N02   전라남도 여수시  34.757311  127.664386      1     0      0   0
99   N03   전라남도 순천시  34.947606  127.489331      0     0      0   0
100  N04   전라남도 나주시  35.012839  126.712867      2     0      0   0
101  N05   전라남도 광양시  34.937536  127.698178      0     0      1   0
102  N06   전라남도 담양군  35.318125  126.990164      0     1      0   0
103  N07   전라남도 곡성군  35.278956  127.294108      0     0      0   0
104  N08   전라남도 구례군  35.199458  127.464933      1     0      0   0
105  N09   전라남도 고흥군  34.608069  127.287056      0     0      0   0
106  N10   전라남도 보성군  34.768333  127.082089      1     0      1   0
107  N11   전라남도 화순군  35.061481  126.988567      1     0      0   0
108  N12   전라남도 장흥군  34.678525  126.909108      2     0      0   0
109  N13   전라남도 강진군  34.638911  126.769197      0     0      0   0
110  N14   전라남도 해남군  34.447336  126.820997      1     0      0   0
111  N15   전라남도 영암군  34.796989  126.698619      1     0      0   0
112  N16   전라남도 무안군  34.987369  126.483700      2     0      0   0
113  N17   전라남도 함평군  35.062744  126.518619      0     0      0   0
114  N18   전라남도 영광군  35.274167  126.514086      0     0      0   0
115  N19   전라남도 장성군  35.298811  126.786975      0     0      0   0
116  N20   전라남도 완도군  34.307853  126.757097      0     0      0   0
117  N21   전라남도 진도군  34.483750  126.265544      1     0      0   0
118  N22   전라남도 신안군  34.789811  126.381731      0     0      0   0
119  O01   경상북도 포항시  36.038850  129.367908      3     0      0   0
120  O02   경상북도 경주시  35.853169  129.227022      3     0      0   0
121  O03   경상북도 김천시  36.136897  128.115800      0     1      0   0
122  O04   경상북도 안동시  36.565464  128.731622     13     0      0   0
123  O05   경상북도 구미시  36.116550  128.346778      0     0      0   0
124  O06   경상북도 영주시  36.802936  128.626344      2     0      0   0
125  O07   경상북도 영천시  35.970053  128.940775      2     0      0   0
126  O08   경상북도 상주시  36.407969  128.161264      0     0      0   0
127  O09   경상북도 문경시  36.583631  128.189019      0     0      2   0
128  O10   경상북도 경산시  35.822089  128.743464      0     0      1   0
129  O11   경상북도 군위군  36.239997  128.575078      1     0      0   0
130  O12   경상북도 의성군  36.349758  128.699364      1     0      0   0
131  O13   경상북도 청송군  36.433292  129.059400      8     0      0   0
132  O14   경상북도 영양군  36.664275  129.114622      0     0      0   0
133  O15   경상북도 영덕군  36.412103  129.368356      2     1      0   0
134  O16   경상북도 청도군  35.644311  128.736200      0     0      0   0
135  O17   경상북도 고령군  35.722986  128.265022      0     0      0   0
136  O18   경상북도 성주군  35.916211  128.285153      0     0      0   0
137  O19   경상북도 칠곡군  35.992547  128.403797      0     0      0   0
138  O20   경상북도 예천군  36.654950  128.455022      1     0      0   0
139  O21   경상북도 봉화군  36.890261  128.734875      1     1      0   0
140  O22   경상북도 울진군  36.990186  129.402786      0     0      0   0
141  O23   경상북도 울릉군  37.480575  130.903789      0     0      0   0
142  P01   경상남도 창원시  35.254003  128.640154      1     0      1   0
143  P02   경상남도 진주시  35.177033  128.110000      0     0      0   0
144  P03   경상남도 통영시  34.851258  128.435278      0     0      1   0
145  P04   경상남도 사천시  35.000283  128.066778      0     0      0   0
146  P05   경상남도 김해시  35.225506  128.891667      0     0      0   0
147  P06   경상남도 밀양시  35.500778  128.748944      0     0      0   0
148  P07   경상남도 거제시  34.877358  128.623356      0     0      0   0
149  P08   경상남도 양산시  35.331928  129.039411      0     0      0   0
150  P09   경상남도 의령군  35.319119  128.263822      0     0      0   0
151  P10   경상남도 함안군  35.269406  128.408708      1     0      0   0
152  P11   경상남도 창녕군  35.541536  128.494533      2     0      0   0
153  P12   경상남도 고성군  34.969900  128.324542      2     0      0   0
154  P13   경상남도 남해군  34.834558  127.894467      1     0      0   0
155  P14   경상남도 하동군  35.064203  127.753431      1     0      0   0
156  P15   경상남도 산청군  35.412492  127.875619      0     0      0   0
157  P16   경상남도 함양군  35.517469  127.727419      1     0      0   0
158  P17   경상남도 거창군  35.683625  127.911656      6     0      1   0
159  P18   경상남도 합천군  35.563617  128.167931      0     0      0   0
160  Q01        제주도  33.485694  126.500333      5     3      2   0

### 최종 점수 내기

In [23]:
df_result = pd.DataFrame(columns=['지역명', '총점'])

In [24]:
## 그냥 조건 없이 다 더해서 총점
plus = 0
for loc_num in range(len(df_score)):
    plus = df_score['관광지개수'][loc_num] + df_score['축제개수'][loc_num] + df_score['음식점개수'][loc_num]
    df_score['총점'][loc_num] = plus
    plus = 0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [25]:
## 모든 취향이 1 이상인 지역만 df_result로 넣기
res_num = 0
for loc_num in range(len(df_score)):
    if df_score['관광지개수'][loc_num] > 0 and df_score['축제개수'][loc_num] > 0 and df_score['음식점개수'][loc_num] > 0 :
        df_result.loc[res_num,'지역명'] = df_score['지역명'][loc_num]
        df_result.loc[res_num,'총점'] = df_score['총점'][loc_num]
        res_num+=1
        
df_result

        지역명  총점
0     대구광역시   8
1     광주광역시   8
2  전라북도 임실군   4
3       제주도  10

In [26]:
## 모든 취향이 1 이상인 지역이 없다면 취향 셋 중에 두개가 1 이상인 것을 df_result에 넣기
a = 0
b = 0
c = 0
if df_result.empty:
    for loc_num in range(len(df_score)):
        if df_score['관광지개수'][loc_num] > 0 :
            a = 1
        if df_score['축제개수'][loc_num] > 0 :
            b = 1
        if df_score['음식점개수'][loc_num] > 0 :
            c = 1
        if a+b+c > 1 :
            df_result.loc[res_num,'지역명'] = df_score['지역명'][loc_num]
            df_result.loc[res_num,'총점'] = df_score['총점'][loc_num]
        a=0
        b=0
        c=0

### 순서대로 정렬         
df_sorted_result = df_result.sort_values(by='총점', ascending=False)
df_sorted_result

        지역명  총점
3       제주도  10
0     대구광역시   8
1     광주광역시   8
2  전라북도 임실군   4

### 추천 결과 중 가고 싶은 지역을 선택

In [27]:
print('추천된 결과 중 여행을 가고 싶은 지역의 번호를 고르세요.')
picknum = input()
place = df_sorted_result['지역명'][int(picknum)]

placecode = 'null'
for count in range(len(df_score)):
    if place == df_score['지역명'][count]:
        placecode = df_score['지역코드'][count]
        break

추천된 결과 중 여행을 가고 싶은 지역의 번호를 고르세요.
3

### 검색기록 DB에 추가

In [28]:
memnum = 0
for loc_num in range(len(df_member)): # 고객 명수로 돌림
    if prefer_ID == df_member['회원ID'][loc_num]:
        memnum = df_member['고객번호'][loc_num]
        break

In [29]:
sql = "insert into 검색기록(고객번호,여행예정월,관광지취향,음식점취향,축제취향,추천결과) values(%s, %s, %s, %s, %s, %s)"
cursor.execute(sql, (str(memnum), prefer_month, prefer_tour, prefer_food, prefer_festival, placecode))
conn.commit()

In [30]:
df_search = pd.read_sql("select * from 검색기록", conn)

In [49]:
df_search

   검색기록번호 고객번호  여행예정월 관광지취향 음식점취향 축제취향 추천결과
0      13   16      7    고택    짬뽕  먹거리  Q01
1      14   18      7    고택    짬뽕  먹거리  Q01
2      15   18      7    고택    짬뽕  먹거리  Q01

### 고객이 선택한 지역의 취향에 맞는 관광지 보여주기

In [31]:
df_resultspot = pd.DataFrame(columns=['관광지명','위도','경도'])
df_resultfood = pd.DataFrame(columns=['음식점명','위도','경도'])
df_resultfes = pd.DataFrame(columns=['축제명','위도','경도'])

In [50]:
for loc_num in range(len(df_spot)):
    if placecode == df_spot['지역코드'][loc_num]:
        if prefer_tour == df_spot['소분류'][loc_num]:
             df_resultspot.loc[loc_num,'관광지명'] = df_spot['관광지명'][loc_num]
df_resultspot

             관광지명                위도                경도
3189        양금석가옥  33.2913285653559   126.62848088838
3200  서귀포 김정희 유배지  33.2504056192256  126.278196318407
3276      이중섭 거주지  33.2455483773808  126.564327488975
3293      성읍고평오가옥  33.3858661567386  126.801686030396
3295        이영숙가옥  33.3872412249184  126.800062153468

### 고객이 선택한 지역의 취향에 맞는 축제 보여주기

In [33]:
for loc_num in range(len(df_festival)):
    if placecode == df_festival['지역코드'][loc_num]:
        if prefer_festival == df_festival['소분류'][loc_num]:
            if prefer_month == df_festival['축제기간'][loc_num]:
                df_resultfes.loc[loc_num,'축제명'] = df_festival['축제명'][loc_num]

### 고객이 선택한 지역의 취향에 맞는 음식점 보여주기

In [34]:
for i in df_food.index:
    if placecode == df_food['지역코드'][i]:
        if prefer_food in df_food['설명'][i]:
            df_resultfood.loc[i,'음식점명'] = df_food['음식점명'][i]

### 음식점 위도 경도 가져오기 (kakao api 사용)

In [35]:
import requests

for i in df_resultfood.index:
    searching = df_resultfood['음식점명'][i]
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    headers = {"Authorization": "KakaoAK 3b208964b53cdafc6f57db17e800d418"}
    places = requests.get(url, headers = headers).json()['documents']
    df_resultfood['경도'][i] = places[0]['x']
    df_resultfood['위도'][i] = places[0]['y']
    
df_resultfood

     음식점명                위도                경도
5541  금문도  37.5278459019907   126.72577368819
5555  다래향  33.5458153322043  126.660687856748

### 축제 위도 경도 가져오기

In [36]:
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
df_festwhere = pd.read_excel('C:/Users/건욱/Desktop/김혜린/3학년/엔지니어링DB 및 실습/플젝/데이터/축제 위도경도 포함.xls')

In [38]:
for i in df_resultfes.index:
    for count in range(len(df_festwhere)):
        if df_resultfes['축제명'][i] == df_festwhere['축제명'][count]:
            df_resultfes['위도'][i] = df_festwhere['위도'][count]
            df_resultfes['경도'][i] = df_festwhere['경도'][count]

df_resultfes

            축제명       위도       경도
918     금능 원담축제  33.3911  126.236
937      이호테우축제  33.4962  126.456
945  제7회 월대천 축제  33.4923  126.435

### 관광지 위도 경도 가져오기

In [39]:
for i in df_resultspot.index:
    searching = df_resultspot['관광지명'][i]
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(searching)
    headers = {"Authorization": "KakaoAK 3b208964b53cdafc6f57db17e800d418"}
    places = requests.get(url, headers = headers).json()['documents']
    df_resultspot['경도'][i] = places[0]['x']
    df_resultspot['위도'][i] = places[0]['y']
    
df_resultspot

             관광지명                위도                경도
3189        양금석가옥  33.2913285653559   126.62848088838
3200  서귀포 김정희 유배지  33.2504056192256  126.278196318407
3276      이중섭 거주지  33.2455483773808  126.564327488975
3293      성읍고평오가옥  33.3858661567386  126.801686030396
3295        이영숙가옥  33.3872412249184  126.800062153468

### 지도에 위치 찍기 > 시각화

In [40]:
import folium
from pandas import DataFrame
from pandas import ExcelFile

In [41]:
df_local = pd.read_sql("select * from 지역", conn)

### 관광지 지도에 찍기

In [42]:
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [43]:
wi = 0        # 선택한 지역 위도 경도 받아오기
gyung = 0
for i in df_local.index:
    if df_local['지역코드'][i] == placecode:
        wi = df_local['위도'][i]
        gyung = df_local['경도'][i]
        break

In [44]:
map_try = folium.Map(location=[wi,gyung], zoom_start=12)

In [45]:
# 관광지 찍기
for i in df_resultspot.index:
    # 행 우선 접근 방식으로 값 추출하기
    name = df_resultspot.loc[i, '관광지명']
    lat = df_resultspot.loc[i, '위도']
    lng = df_resultspot.loc[i, '경도']
    
    # 추출한 정보를 지도에 표시
    marker1 = folium.Marker([lat,lng], popup=name, icon=folium.Icon(color='blue'))
    marker1.add_to(map_try)

In [46]:
# 축제 찍기
for i in df_resultfes.index:
    # 행 우선 접근 방식으로 값 추출하기
    name = df_resultfes.loc[i, '축제명']
    lat = df_resultfes.loc[i, '위도']
    lng = df_resultfes.loc[i, '경도']
    
    # 추출한 정보를 지도에 표시
    marker2 = folium.Marker([lat,lng], popup=name, icon=folium.Icon(color='red'))
    marker2.add_to(map_try)

In [1]:
# 음식점 찍기
for i in df_resultfood.index:
    name = df_resultfood.loc[i, '음식점명']
    lat = df_resultfood.loc[i, '위도']
    lng = df_resultfood.loc[i, '경도']
    marker3 = folium.Marker([lat,lng], popup=name, icon=folium.Icon(color='green'))
    marker3.add_to(map_try)

map_try.save('try.html') ## html 파일로 열면 한글 안 깨짐
map_try

NameError: name 'df_resultfood' is not defined

In [48]:
conn.close()